name: Unit Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        shell: bash
        run: pip install -r requirements.txt

      - name: Run mypy
        run: |
          mypy ./check_commits.py

      - name: Run black
        run: |
          black --check --diff ./check_commits.py

      - name: Run unit tests
        run: |
          pytest tests/test_check_commits.py
